.container-fluid,
html,
body {
    background-color: #2C3E50;
}

html {
    margin-top: 10px;
}

ul {
    list-style: none;
    text-align: center;
    padding: 5px;
    background-color: rgb(43, 55, 134);
    width: 100%;
    border-radius: 10px;
    /* Deixa a borda arredondada */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* Adiciona sombra */

}

.nav-link {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    text-align: center;
    color: rgb(254, 252, 252);

}

.nav-link:hover {
    color: white;
    /* Mantém a cor do texto original */
}

.custom-dropdown .dropdown-menu {
  background-color: rgb(43, 55, 134);
}

.custom-dropdown .dropdown-item {
  color: white;
}

.custom-dropdown .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.card {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* Adiciona sombra */
    font-family: "Noto Sans", sans-serif;
    height: 500px;
}

.card-header,
.card-footer {
    text-align: center;
    font-size: 1.3em;
}

.card-text {
    font-size: 1.1em;
}

.col-sm {
    margin-left: 100px;
}

#sexo {
    margin-left: 70px;
   width: 15%;
}

.assunto{
max-width: 105%;

}
